<footer class="text-gray-800 flex flex-col justify-center items-center">
    <section class="py-6">
        <img src="{{ asset('images/cropped-logo-banniere-512x193.png') }}" alt="Logo de la Régie de Quartier de Behren-lès-Forbach" width="300">
        <p class="text-center text-gray-600 font-semibold">Annexe Chateaubriand BP97 <br> 57460 BEHREN-LES-FORBACH</p>
    </section>
    <section class="border-t border-gray-300 w-full py-4 text-sm">
        <p class="text-center text-gray-600">Copyright © {{ "now"|date("Y") }} La Régie de Quartier &laquo;Behren Insertion&raquo; | Powered by La Régie de Quartier &laquo;Behren Insertion&raquo;.</p>
    </section>
</footer>
