parameters:
  level: 8
  paths:
    - src
    - tests
    - bin
    - config
  bootstrapFiles:
    - tests/bootstrap.php
  excludePaths:
    - vendor
    - src/DataFixtures
  parallel:
    maximumNumberOfProcesses: 4
