<div>
    <video
        src="{{ block.url|e }}"
        {% if block.isAutoplay %}autoplay muted{% endif %}
        {% if block.format %}type="video/{{ block.format }}"{% endif %}
        controls
    >
    </video>
</div>
