parameters:
    app.excluded_menu_prefixes: ["/api", "/admin", "/login", "/logout"]

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: "../src/"
        exclude: "../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}"

    ### Menu Services ###
    App\Twig\MenuExtension:
        arguments:
            $menuProvider: '@App\Service\MenuProvider'
        tags: ["twig.extension"]

    App\Service\MenuProvider:
        arguments:
            $pageRepository: '@App\Repository\PageRepository'
            $cache: "@cache.app.taggable"

    ### Breadcrumb Services ###
    App\Service\BreadcrumbProvider:
        arguments: []

    App\Twig\BreadcrumbExtension:
        tags: ["twig.extension"]

    ### FACTORIES ###
    App\Factory\SingleBlockFactory\:
        resource: "../src/Factory/SingleBlockFactory/"
        tags: ["app.block_factory"]

    App\Factory\BlockFactory:
        arguments:
            $factories: !tagged_iterator app.block_factory

    ### RENDERERS ###
    App\Strategy\:
        resource: "../src/Strategy/"
        tags: ["app.block_renderer"]

    App\Service\BlockRenderingService:
        arguments:
            $renderers: !tagged_iterator app.block_renderer

    App\Service\BlockBuilderService: ~
